.hand {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1;
    .handInner {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 150px;
            border-radius: 6px;
        }
        .card {
            transition: all 300ms;
           
            &.active {
                border: 3px solid red;
            }
            &:hover {
                margin-top: -20px;
            }
        }
    }
}
