@import url("https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap");
.innerCardGame {
    position: relative;
    overflow-y: scroll;
    height: 100%;
    * {
        cursor: url("/img/cardgame/mouse.png"), auto;
    }
    .innerCardGameBackground {
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        .innerEntry {
            display: flex;
            height: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
        }
        h2 {
            font-family: "Inknut Antiqua";
            font-style: normal;
            font-weight: 700;
            font-size: 70px;
            line-height: 1;
            /* or 104% */
            text-align: center;
            color: #ffff00;
            text-shadow: 5px 7px 7.4px #000000;
            padding: 0 100px;
        }
        input {
            padding: 15px;
            background-color: white;
            border-radius: 10px;
            width: 200px;
            color: black;
        }
        button {
            padding: 15px;
        }
        .gameMode {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        button {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 5.5px 18px;
            width: 200px;
            /* Window Content/Base Grey 2 */
            background: #c0c0c0;
            box-shadow:
                inset -1px -1px 0px #0a0a0a,
                inset 1px 1px 0px #ffffff,
                inset -2px -2px 0px #808080,
                inset 2px 2px 0px #dfdfdf;

            font-family: "MS Sans Serif";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 12px;

            /* B&W/Black */
            color: #000000;
        }
    }
}
