.applicationInner {
    width: 100%;
    height: 85%;
    background: white;
    display: flex;
    box-shadow:
        inset 2px 2px 0px #ffffff,
        inset -2px -2px 0px #808080;
    flex-wrap: wrap;
    .applicationInner__left {
        width: 10%;
        padding: 1px 3px;
        gap: 8px;
        height: 100%;
    
        background: #c0c0c0;
        box-shadow:
            inset -1px 0px 0px #0a0a0a,
            inset -2px -2px 0px #808080;
        position: relative;
        .applicationInner__leftTools_download {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            display: flex;
            font-size: 12px;
            justify-content: center;
            align-items: center;
            padding: 3px 4px;
            margin: 0 2px 0 0;
            color: #000000;
            background: #b8c0c1;
            box-shadow:
                inset -1px -1px 0px #0a0a0a,
                inset 1px 1px 0px #dfdfdf,
                inset -2px -2px 0px #808080,
                inset 2px 2px 0px #ffffff;
            &:hover {
                cursor: pointer;
                background: #b8c0c1;
                box-shadow:
                    inset -1px -1px 0px #ffffff,
                    inset 1px 1px 0px #0a0a0a,
                    inset -2px -2px 0px #dfdfdf,
                    inset 2px 2px 0px #808080;
            }
        }
    }
    .applicationInner__right {
        width: 90%;
        padding: 2px;
        gap: 8px;
        background: #888990;
        overflow: scroll;
        height: 100%;
        .applicationInner__rightCanvas {
            display: block; // Remove bottom spacing
            width: auto; // Ensure canvas width is handled by JS
            height: auto; // Ensure canvas height is handled by JS
        }
    }
}
.applicationBottom {
    padding: 8px 3px;
    gap: 8px;
    width: 100%;
    height: 9%;
    background: #c0c0c0;
    box-shadow: inset 0px 1px 0px #e6eaea;
    .applicationBottom__color {
        display: flex;
        align-items: center;
        .applicationBottom__colorSelected {
            padding: 3px;
            gap: 3px;
            isolation: isolate;
            width: 30px;
            height: 30px;
            background: #dfdfdf;
            /* Window Pressed */
            box-shadow:
                inset -1px -1px 0px #ffffff,
                inset 1px 1px 0px #0a0a0a,
                inset -2px -2px 0px #dfdfdf,
                inset 2px 2px 0px #808080;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            .selected {
                width: 13px;
                height: 13px;
                display: block;
                left: 40%;
                top: 40%;
                transform: translate(-50%, -50%);
                position: absolute;
                background: #000000;
                box-shadow:
                    inset 1px 1px 0px #ffffff,
                    inset -1px -1px 0px #808080;
                z-index: 1;
            }
            .unselected {
                position: absolute;
                width: 13px;
                height: 13px;
                display: block;
                left: 60%;
                top: 60%;
                transform: translate(-50%, -50%);

                background: #ffffff;
                box-shadow:
                    inset 1px 1px 0px #ffffff,
                    inset -1px -1px 0px #808080;
            }
        }
        .applicationBottom__colorChoice {
            display: flex;
            align-items: center;
            padding: 0px;
            width: 210px;
            height: 30px;
            flex-wrap: wrap;
            div {
                display: block;
                width: 15px;
                height: 15px;

                background: #000000;
                /* Window Pressed */
                box-shadow:
                    inset -1px -1px 0px #ffffff,
                    inset 1px 1px 0px #0a0a0a,
                    inset -2px -2px 0px #dfdfdf,
                    inset 2px 2px 0px #808080;
            }
        }
    }
}
