.title {
    height: 96%;

    color: black;
    text-align: center;
    .title__Inner {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
        padding: 1.5rem;
        h2 {
            margin-bottom: 1rem;
        }
        .picrossList {
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            justify-content: space-between;
            width: 100%;
            gap: 1rem;
            margin-top: 1rem;
            li {
                width: 47%;
                button {
                    width: 100%;
                    border: none;
                    padding: 5.5px 18px;
                    background: #c0c0c0;
                    color: black;
                    box-shadow:
                        inset -1px -1px 0px #0a0a0a,
                        inset 1px 1px 0px #ffffff,
                        inset -2px -2px 0px #808080,
                        inset 2px 2px 0px #dfdfdf;
                    display: block;
                    cursor: pointer;
                    &:focus {
                        background: #c0c0c0;
                        box-shadow:
                            inset -1px -1px 0px #ffffff,
                            inset 1px 1px 0px #0a0a0a,
                            inset -2px -2px 0px #dfdfdf,
                            inset 2px 2px 0px #808080;
                    }
                }
            }
        }
        .howToPlay {
            font-size: 11px;
            max-width: 290px;
            margin-top: 15px;
        }
    }
}

.clues {
    display: flex;
    flex-direction: column;

    width: fit-content;
}

.rowClues {
    display: flex;
    flex-direction: column;
    width: fit-content;
}
.rowClue {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

.clueCell {
    width: 20px;
    height: 20px;
    text-align: center;
    background-color: #f0f0f0;
    border-radius: 4px;
    font-size: 12px;
    color: black;
}

.columnClues {
    display: flex;
    flex-direction: row;
    
    height: fit-content;
    
}

.columnClue {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gameReturn {
    border: none;
    padding: 5.5px 18px;
    margin: 15px;
    background: #c0c0c0;
    color: black;
    box-shadow:
        inset -1px -1px 0px #0a0a0a,
        inset 1px 1px 0px #ffffff,
        inset -2px -2px 0px #808080,
        inset 2px 2px 0px #dfdfdf;
    display: block;
    cursor: pointer;
    &:focus {
        background: #c0c0c0;
        box-shadow:
            inset -1px -1px 0px #ffffff,
            inset 1px 1px 0px #0a0a0a,
            inset -2px -2px 0px #dfdfdf,
            inset 2px 2px 0px #808080;
    }
}
.gameContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;
    padding: 15px;
    width: 100%;
    user-select: none;
}

.gridContainer {
    display: flex;
}

.tile {
    width: 20px;
    height: 20px;
    user-select: none;
    background-color: white;
    cursor: pointer;
    border: 1px solid #ccc;
    box-sizing: border-box;
    transition:
        background-color 0.2s,
        border 0.2s;
    &.filled {
        background-color: black;
    }
    &.marked {
        background-color: yellow;
    }
}

.tile.incorrect {
    border: 2px solid red;
}

/* Buttons */
.buttons {
    margin-top: 10px;
}
